[submodule "src/c/links"]
	path = src/c/links
	url = git@github.com:0x766F6964/links.git
[submodule "src/c/dir2list"]
	path = src/c/dir2list
	url = git@github.com:0x766F6964/dir2list.git
[submodule "src/c/status"]
	path = src/c/status
	url = git@github.com:0x766F6964/status.git
[submodule "src/c/doas"]
	path = src/c/doas
	url = git@github.com:0x766F6964/doas.git
[submodule ".config/mpv/scripts/mpv-reload"]
	path = .config/mpv/scripts/mpv-reload
	url = https://github.com/4e6/mpv-reload.git
[submodule ".config/mpv/scripts/mpv-image-viewer"]
	path = .config/mpv/scripts/mpv-image-viewer
	url = https://github.com/occivink/mpv-image-viewer.git
[submodule ".config/mpv/scripts/mpv2oboeru"]
	path = .config/mpv/scripts/mpv2oboeru
	url = git@github.com:0x766F6964/mpv2oboeru.git
[submodule "src/c/dwm"]
	path = src/c/dwm
	url = git@github.com:0x766F6964/dwm.git
[submodule ".config/vis/plugins/vis-spellcheck"]
	path = .config/vis/plugins/vis-spellcheck
	url = https://github.com/fischerling/vis-spellcheck.git
[submodule ".config/mpv/scripts/videoclip"]
	path = .config/mpv/scripts/videoclip
	url = https://github.com/Ajatt-Tools/videoclip.git
[submodule "src/sh/omoidasu"]
	path = src/sh/omoidasu
	url = git@github.com:0x766F6964/omoidasu.git
[submodule "src/c/oboeru"]
	path = src/c/oboeru
	url = git@github.com:0x766F6964/oboeru.git
